<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

      <%= render 'users/userinfo', user: @user %>

      <div class="card-deck-container col-md-9 col-xl-9">
        </br>
        <h5>
          <i class="fas fa-bell"></i>
          <strong>お知らせ一覧</strong>
        </h5>
        <!--自分で自分の投稿にした「いいね」「コメント」を通知に表示しない-->
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
　　　　<% if notifications.exists? %>
　　　　  <%= render notifications %>
　　　　  <%= paginate notifications %>
　　　　<% else %>
　　　　  <div class="card-deck-container col-md-9">
            通知はありません。
          </div>
　　　　<% end %>
      </div>
    </div>
  </div>
</main>
