<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

      <%= render 'users/userinfo', user: @user %>

      <div class="card-deck-container col-md-9">
        <h2>お知らせ</h2>
        <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
　　　　<% if notifications.exists? %>
　　　　  <%= render notifications %>
　　　　  <%= paginate notifications %>
　　　　<% else %>
　　　　  通知はありません
　　　　<% end %>
      </div>
    </div>
  </div>
</main>
