<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

        <div class='col-md-3' style="text-align:center;">
        </div>

        <div class='col-md-9'>
        <h2>My Page</h2>
          <table>
            <tr>
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image.variant(resize:'300x260') %>
              <% else %>
                <%= image_tag('no_image.jpg', size:'300x260') %>
              <% end %>
            </tr>
            <tr>
        	    <th>name</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.name %></th>
            </tr>
            <tr>
        	    <th>introduction</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.introduction %></th>
        	  </tr>
          </table>
        </div>

    </div>
  </div>
</main>