<main style="background-color: #F7F7F7;">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

        <div class='col-md-3' style="text-align:center;">
        </div>

        <div class='col-md-8 offset-md-1'>
        <h2>My Page</h2>
          <table>
            <tr>
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image.variant(resize:'400x360') %>
              <% else %>
                <%= image_tag('no_image.jpg' , size: '400x360') %>
              <% end %>
            </tr>
            <tr>
        	    <th>name</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.name %></th>
            </tr>
            <tr>
        	    <th>introduction</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.introduction %></th>
        	  </tr>
          </table>
        </div>

    </div>
  </div>
</main>