<main class="bg-white shadow-sm px-2 py-2">
  <div>
    <span class="about">
    <%= image_tag 'about画像.jpg', style: 'max-width: -webkit-fill-available' %>
    </span>
    <div class="txt_area">
      <h3>nanakamado</h3>
      <div class="txt">
        <p>
          <strong>
            北欧のHYGEE(ヒュッゲ)を知っていますか？</br>
            HYGEEはほっとする空間でゆったりと時を過ごすことで</br>
            暮らしや心を整えるという意味を持っています。</br>
            HYGEEの考え方に基づいて、おうち時間の過ごし方や北欧文化・北欧雑貨、</br>
            それらを共有する場になればと思い、このサイトを作りました。</br>
            何気ない日常を分かち合うことで、</br>
            幸せを感じるヒントに繋がれば幸いです。
          </strong>
        </p>
      </div>
    </div>
  </div>
</main>