/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "notifications";

body {
  background-image: url("hoge.jpg");
}

.swiper-wrapper .swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.txt_area{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.txt_area h3{
  font-size: 90px;
  padding-bottom: 10px;
}

.txt_area .txt{
  font-size: 21px;
  line-height: 35px;
  letter-spacing: 3px;
}

.about{
  filter: blur(5px);
}
