/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "notifications";
@import "posts";


body {
  background-image: url("hoge.jpg");
}

.background {
  background-image: image-url("backimage.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.postprv {
  width: 400px;
  object-fit: cover;
}

.userprv {
  width: 400px;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
  height: 7vw;
  width: 7vw;
  object-fit: cover;
  padding: 2px;
  border: 1px solid #696969;
}

.circle2 {
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  object-fit: cover;
  padding: 5px;
  border: 2px solid #696969;
  background-color: white;
}

.circle3 {
  border-radius: 50%;
  height: 4vw;
  width: 4vw;
  object-fit: cover;
  padding: 1px;
  border: 1px solid #a9a9a9;
}

.circle4 {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
  padding: 1px;
  border: 1px solid #EEEEEE;
}

.circle5 {
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
  object-fit: cover;
  padding: 1px;
  border: 1px solid #EEEEEE;
}

.swiper-wrapper .swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.txt_area{
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.txt_area h3{
  font-size: 5vw;
  padding-top: 12vw;
}

.txt_area .txt{
  font-size: 1.2vw;
  line-height: 2vw;
  letter-spacing: 3px;
}

.about{
  filter: blur(5px);
}

.pagination {
  justify-content: center;
}

.page-item.active .page-link {
  background-color: #93c9ff;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  border-radius: 20px;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 20px;
}

.page-item:last-child .page-link {
  border-radius: 20px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 1.1;
  border: none;
  border-radius: 20px;
}

.a {
  text-decoration: none;
}

.font-type {
  font-size: 1vw;
  font-weight: bold;
}

.font-type2 {
  font-size: 1vw;
}

